@import '../../css/variables';

.article {

  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.35rem;
 

}

.articlewrapper{
	
	padding-left: 0;
	padding-right: 0;
	
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .article {

 /* padding-left: 0.5rem;
  padding-right: 0.5rem;
  */
  }
  
  }
  
  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 .article {
/*
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  */
  }
  
}


.article__inner {

  /*padding: 24px 0;*/
 
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-top: 0rem;
  background: #fff;
  padding: .75rem 1.5rem;
  @media (min-width: $tablet-breakpoint) {
    /*padding: 24px 48px;*/

  }
}
