@import '../../css/variables';

.toc {
  display: none;
  padding-left: 1.25rem;
  padding-right: 0;
  background-color: $daisy-snow;


  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}

.toc-wrapper {
  position: fixed;
}
